In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [4]:
table = soup.find_all('table')[1]
# we'll be using the second table from the page

In [6]:
world_titles = table.find_all('th')
# print(world_titles)

In [7]:
world_table_titles = [title.text.strip() for title in world_titles]

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(columns=world_table_titles)

In [10]:
column_data = table.find_all('tr')

In [11]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    # print(individual_row_data)

    length = len(df)
    df.loc[length] = individual_row_data

In [12]:
df.head()

,Rank,Name,Industry,Revenue(in ₹ Crore),Revenue growth,Profits(in ₹ Crore),Headquarters,State Controlled
0,1,Indian Oil Corporation,Oil and gas,"424,321",13.2%,"22,189",New Delhi,Yes
1,2,Reliance Industries Limited,Oil and gas,"410,295",28.2%,"36,075",Mumbai,
2,3,Oil and Natural Gas Corporation,Oil and gas,"333,143",11.0%,"22,106",New Delhi,Yes
3,4,State Bank of India,Banking,"306,528",2.6%,"−4,556",Mumbai,Yes
4,5,Tata Motors,Automotive,"301,175",7.9%,"8,989",Mumbai,

In [ ]:
# df.to_csv(r"C:\Users\sumit\Desktop\out.csv", index=False)
# for exporting data to a csv format